

{% extends 'food_list.html' %}
{% block abc %}
<div class="text-center" style="margin-top: 150px; color: white ; font-weight: bolder; font-size: larger;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
    <button class="bg-primary " type="submit">Save</button>
    </form>
</div>
        {% endblock %}

        
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
        <input type="submit" value="save">
        </form>
